.containerNewsOne {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-shadow: var(--form-box-shodow);
    padding: 1rem;
    gap: 1rem;
}

.hrOneNews {
    border: 1px solid var(--color-grey-text);
    width: 100%
}

.titleNewsOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.titleNewsOne > span {
    font-size: 3rem;
    color: var(--color-grey-text);
}

.titleNewsOne > p {
    font-size: 1.5rem;
}


.containerDescription {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.containerDescription > h1 {
    font-size: 2rem;
}

.descriptionAndTextAndImgContainer {
    display: flex;
}

.descriptionAndTextAndImgContainer > p {
    color: var(--color-grey-text);
}


.imgStyle {
    object-fit: fill;
    box-shadow: var(--form-box-shodow);
}


.createdAtNewsOne {
    display: flex;
    gap: 1rem;
    align-self: flex-start;
}

.createdAtNewsOne > span {
    color: var(--color-grey-text);
}

.containerTagsAndLikeCount {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.likesAndViewsOneNews {
    display: flex;
    gap: 1rem;
}

.likesAndViewsOneNews > p {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: .5rem;
}

.linKStyleOneNews {
    text-decoration-line: none;
    color: var(--color-grey-text);
    margin-left: 5px;
}

.likeHaveByOneNews {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--color-purple);
}

.unLikeHaveByOneNews {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.styleLikeByOneNews:hover {
    color: var(--color-purple);
    cursor: pointer;
}