.containerFollowers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--form-box-shodow);
    width: 20%;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
}

.imgFollowers {
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}