.containerMessageLoad{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderMessage {
    position: relative;
    border: 24px solid;
    border-color: #b9b8b8 transparent #b9b8b8 transparent;
    animation : rotate 2s linear infinite;
}
.loaderMessage:before,
.loaderMessage:after {
    content:"";
    display: block;
    border: 24px solid transparent;
    border-left-color: #b9b8b8;
    position: absolute;
    left: -24px;
    top: -24px;
    animation: mvx 1s infinite linear;
}
.loaderMessage:before {
    border-color: transparent #b9b8b8 transparent transparent;
    animation-name:mvrx;
    animation-delay: 0.5s;
}
@keyframes rotate {
    100% {transform: rotate(360deg)}
}
@keyframes mvx {
    20% , 80% {transform: translateX(0)}
    50% {transform: translateX(-50%)}
}
@keyframes mvrx {
    20% , 80% {transform: translateX(0)}
    50% {transform: translateX(50%)}
}
