.containerAllNews {
    padding: 1rem;
    width: 100%;
}

.itemNewsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.paginationPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
