.containerHeader {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-pink-sweet);
    position: center;
    box-shadow: var(--header-box-shadow)
}

.namesHeader {
    color: var(--color-grey-text);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.linksAndSearchHeader {
    display: flex;
    gap: 2rem;
}

.linksSpan:hover {
    transform: scale(1.2);
    color: var(--color-purple);
}

.linksHeader {
    text-decoration: none;
    color: var(--color-grey-text);
    display: flex;
    align-items: center;
    font-size: 18px;
}

.linksHeader:hover {
    transform: scale(1.2);
    color: var(--color-purple);
}

.bntLogout {
    border: none;
    background: none;
    color: var(--color-grey-text);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.bntLogout:hover {
    transform: scale(1.2);
    color: var(--color-purple);
    cursor: pointer;
}

.headerAvatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.linkTextHeader {
    text-decoration-line: none;
    color: var(--color-grey-text);
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}
.linkTextHeader:hover{
    cursor: pointer;

}

.iconEditHeader{
    display: flex;
    font-size: 1.5rem;
    color: var(--color-purple);
    gap: 1rem;
}
.iconEditHeader:hover{
    color: var(--color-grey-text);
    cursor: pointer;
}


.iconPersonHeader{
    display: flex;
    font-size: 1.5rem;
    color: var(--color-purple);
    gap: 1rem;
}
.iconPersonHeader:hover{
    color: var(--color-grey-text);
    cursor: pointer;
}
